        
        <div class="content">
            <div class="card2 flex-row">
                <div class="col-3" style="background-image: url({{nfp.image_url}});">
                </div>
                <div class="bod col-9">
                    <h2>{{nfp.nfp_name}}: {{nfp.cause}}</h2>
                    <h3><a href="mailto:{{nfp.email}}"> Email: {{nfp.email}}</a></h3>
                    <h3><a href="{{nfp.url}}"> {{nfp.url}} </a></h3>
                    <h3>Phone: {{nfp.phone_number}}</h3>
                    <h4>Tags: {{nfp.tags}}</h4>
                    <h4>Location: {{nfp.city}},  {{nfp.state}}  {{nfp.zip}}</b></h4>
                    <h4>Size: {{nfp.size}}</h4>
                    <p>About this NFP: {{nfp.description}}</p>
                </div>
            </div>
        </div>