        <div class="content">
            <div class="card2 flex-row">
                <div class="col-3" style="background-image: url({{image_url}});">
                </div>
                <div class="bod col-9">
                    <h2>{{nfp_name}}: {{cause}}</h2>
                    <h3><a href="mailto:{{email}}"> Email: {{email}}</a></h3>
                    <h3><a href="{{url}}"> {{url}} </a></h3>
                    <h4>Tags: {{tags}}</h4>
                    <h4>Location: {{city}},   {{state}}   {{zip}}</b></h4>
                    <h4>size: {{size}}</h4>
                    <p>About this NFP: {{description}}</p>
                    <div class="joinNFPnow">
                        <button id="{{id}}" class="reach-out" type="button">Reach Out</button>
                    </div>
                </div>
            </div>
        </div>