        <div class=" col-4 content">
            <div class="card">
                <div class="col-3">
                    <img src="/images/oceanBlueProject.png">
                </div>
                <div class="bod">
                    <h3>{{nfp_name}}: {{cause}}</h3>
                    <h4>Tags: {{tags}}</h4>
                    <h4>Location: {{city}}, {{state}}</h4>
                    <p>About this NFP: {{description}}</p>
                </div>
            </div>
        </div>