        <div class="content">
            <div class="card ">
                <div class="col-3">
                    <img src="/images/filler-logo.png">
                </div>
                <div class="bod">
                <h2><b>{{nfp_name}}: {{cause}}</b></h2>
                <h4><b>Tags: {{tags}}</b></h4>
                <h4><b>Location: {{city}}, {{state}}</b></h4>
                <p>About this NFP: {{description}}</p>
                    {{!-- <div class="pad-b">
                        <button type="button">Reach Out</button>
                    </div> --}}
                </div>
            </div>
        </div>