
      <article class="user-c">
        <div class="img-ctnt" style="background-image: url(https://www.sbs-zipper.com/blog/wp-content/uploads/2018/05/history-of-buttons.jpg);">
          <div>
            <h3>{{cause}}</h3>
            <h4>{{tags}}</h4>
          </div>
        </div>
        <div class="user-bod">
            <div class="head">
                <h3>{{nfp_name}}</h3>
                <h4>Location: {{city}}, {{state}}</h4>
            </div>
          <p>About: {{description}}</p>
        </div>
      </article>