
      <article class="user-c">
        <div class="img-ctnt" style="background-image: url('/images/shanti.png');">>
          <div>
            <h3>{{cause}}</h3>
            <h4>{{tags}}</h4>
          </div>
        </div>
        <div class="user-bod">
            <div class="head">
                <h3>{{nfp_name}}</h3>
                <h4>Location: {{city}}, {{state}}</h4>
            </div>
          <p>About: {{description}}</p>
        </div>
      </article>