            <div class="nfp-c-section ">
                     <div class="bod">
                        <div class="pad">
                            <h2>{{first_name}} {{last_name}}</h2>
                            <h3>{{email}}</h3>
                            <br>
                            <h4>{{phone}}</h4>
                            <h4>{{city}}, {{state}} </h4>
                            <p id="nfp-info-">{{bio}}</p>
                        </div>
                    </div>
                        <!-- <div class="pad-b">
                            <button>Remove</button>
                        </div> -->
            </div>
