            <div class="card-nfp-b col-12 flex-row align-center">
                     <div class="bod">
                        <div class="pad">
                            <h2>{{volunteer.first_name}} {{volunteer.last_name}}</h2>
                            <h3>{{volunteer.email}}</h3>
                            <br>
                            <h4>{{volunteer.phone}}</h4>
                            <h4>{{volunteer.city}}, {{volunteer.state}} </h4>
                            <p id="nfp-info-">{{volunteer.bio}}</p>
                        </div>
                    </div>
                        <!-- <div class="pad-b">
                            <button>Remove</button>
                        </div> -->
            </div>
