      <article class="user-c">
        <div class="img-ctnt" style="background-image: url('/images/importance-of-community-service-social-2.jpg');"></div>
          <div>
            <h3>{{email}}</h3>
            <h4>{{id}}</h4>
          </div>
        </div>
        <div class="user-bod">
            <div class="head">
                <h3>{{first_name}} {{last_name}}</h3>
                <h4>Location: {{city}}, {{state}}</h4>
                <h4>Email: {{email}}</h4>
                <h4>Phone: {{phone_number}}</h4>
            </div>
          <p>Bio: {{bio}}</p>
        </div>
      </article>