<div class="col-12 flex-row align-center">
            <div class="col-12 center pad">
                <button id="hide-vinfo">Close Info</button>
            </div>
            <div id="form-v">
                <div class="form flex-row">
                    <p class=" col-12">
                        Create & Edit your information to send to orginizations you want to work with!
                    </p>
                    <h4>First Name*</h4>
                    <textarea id="first-name" class="formbox-sl">{{user.first_name}}</textarea>
                    <h4>Last Name*</h4>
                    <textarea id="last-name" class="formbox-sl">{{user.last_name}}</textarea>
                    <h4>Email*</h4>
                    <textarea id="email" class="formbox-sl">{{user.email}}</textarea>
                    <h4>Phone</h4>
                    <textarea id="phone" class="formbox-sl">{{user.phone_number}}</textarea>
                    <h4>City</h4>
                    <textarea id="city" class="formbox-sl">{{user.city}}</textarea>
                    <h4>State (Please use initials)*</h4>
                    <textarea id="state" class="formbox-sl">{{user.state}}</textarea>
                    <textarea id="divId" class="hide">{{user.id}}</textarea>
                    <!-- <h4>Prefered contact method</h4>
                    <textarea id="password" class="formbox-sl">
                        Email
                    </textarea> -->
                    <h4>Tell NFPs a little about yourself. What are your interests and skills?</h4>
                    <textarea id="info" class="formbox-lg">{{user.bio}}</textarea>
                    <div class="col-12 center pad-t">
                        <button id="save-rev-btn">Save</button>
                    </div>
                </div>
            </div>    

         {{!--NFP list--}}
            <div class="bg-scrabble hide ghost-in">
                <h2 class="center pad-t"> See Your NFP! </h2>
                <div class=" justify-center pad-lr">
                    <div class=" flex-row ">
                        {{#each nfp as |nfp|}}
                            {{> nfp-btn nfp }}
                        {{/each}}
                    </div> 
                </div>
            </div>
    </div>